In [1]:
#Type cating
float(3)

3.0

In [2]:
int(3.4)

3

In [5]:
int(3.7) #소수점이 떨어진다

3

In [6]:
str(100)

'100'

In [7]:
int("100")

100

In [13]:
#user input

name = input("Hi, what is your name")
print("Hi,"+ (name) + ". Nice to meet you")

Hi, what is your name gun her jang
Hi, gun her jang. Nice to meet you

In [16]:
age = eval(input("How old are you"))
type(age)

How old are you 45.6

float

In [19]:
age = eval(input("How old are you?"))
type(age)

How old are you? 36

int

In [34]:
pen = "pen"
apple = "apple"
print ("I have a %6s, I have an %6s." % (pen, apple))

I have a    pen, I have an  apple.

In [30]:
#string formatting
pen = "pen"
apple = "apple"
pineapple = "pineapple"
print ("I have a %s, I have an %s." % (pen, apple))

I have a pen, I have an apple.

In [35]:
some_string =  "python"
len(some_string)

6

In [39]:
some_string[3:5]

'ho'

In [40]:
some_string[1:5+1:2]

'yhn'

In [41]:
some_string[::]

'python'

In [44]:
some_string[::] == some_string[0:len(some_string):1]

True

In [43]:
some_string[::-1]

'nohtyp'

In [48]:
some_string= "python"
some_string = "c" + some_string[1:]

In [49]:
another_string = "Python is easy progrmming language for all."
another_string.count('p')

1

In [50]:
another_string.find("r")

16

In [52]:
comma =","
commaed = comma.join('pyton')
commaed

'p,y,t,o,n'

In [53]:
commaed.split(',')

['p', 'y', 't', 'o', 'n']

In [58]:
personal_info = "홍길동 010-7228-1164 서울시"
spilted_infe = personal_info.split(' ')
phone = splited

In [59]:
another_string.replace('python','golang')

'Python is easy progrmming language for all.'

In [67]:
lang = []
lang.append('python')
lang.append('golang')
lang.append('java')
lang

['python', 'golang', 'java']

In [76]:
lang.insert(1,"c")
lang

['python', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'golang']

In [77]:
lang.remove('golang')
lang

['python', 'c', 'c', 'c', 'c', 'c', 'c', 'c']

In [79]:
golang = lang.pop(2)
print(lang)
print(golang)

['python', 'c', 'c', 'c', 'c', 'c', 'c']
c

In [81]:
numbers =[1,2,3,1,4,5,1,5,1,2,1,2,3,3,4,5,3,4,6,7,6,8,9]
numbers.sort()
numbers

[1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 7, 8, 9]

In [83]:
alphabet = ['a','s','d','g','s','d','f']
alphabet.sort()
alphabet

['a', 'd', 'd', 'f', 'g', 's', 's']

In [87]:
numbers = [0,3,9,4,8,5,0,3,9,4,8,5]
numbers.sort()
numbers.reverse()
numbers

[9, 9, 8, 8, 5, 5, 4, 4, 3, 3, 0, 0]

In [97]:
numbers.index(4)

6

In [106]:
numbers.extend([2,3])
numbers

[9, 9, 8, 8, 5, 5, 4, 4, 3, 3, 0, 0, 5, 6, 5, 6, 7, 8, 2, 3, 2, 3]

In [110]:
#Tuple
tuple1 = (1,2,3,4)
# tuple[1] = 'c'

In [153]:
tuple2 = (5,6)
print (tuple1 + tuple2)
print (tuple1 * 21)

NameError: name 'tuple1' is not defined

In [116]:
x = 1
y = 38

In [120]:
temp = x
x = y
y = temp 
print(x,y,temp)

38 38 38

In [121]:
print(x,y)
(x,y) =(y,x)
print(x,y)

38 38
38 38

In [123]:
# Condithon
age = 17
if age < 19:
    print ("you are teenager.")

you are teenager.

In [146]:
age = 16
location = "seoul"
if age < 19 and location == "seoul":
    print ("you are teenager. or you live in seoul.")
else: 
    print ("you are not teenager. or you didn't live in seoul.")

you are teenager. or you live in seoul.

In [140]:
age = 60
if age <19:
    print ("under 19")
elif age <50:
    print ("under 50")
else:
    print("over 50")

over 50

In [139]:
#numguess
import random

#choose the answer randomly
answer = random.randint(1,100)
print(answer)

#get user input
username = input("Hi,What is your name?")
guess = eval(input("Hi,%s.PlS guess the INTEGER!!!!!:" % (username)))

if answer == guess:
    print("Crrect! The anwser is right!")
else:
    print("wrong!!")

53
Hi,What is your name?gun hee jang
Hi,gun hee jang.PlS guess the INTEGER!!!!!:30
wrong!!

In [155]:
for cat in ["python","java","c","golang"]:
    print(cat)

python
java
c
golang

In [156]:
sum = 0
for i in range(1,10+1):
    #sum += i
    sum = sum + i
    print(sum)
    
#print(sum)

1
3
6
10
15
21
28
36
45
55

In [158]:
sum = 0
for i in range(1,10+1):
    #sum += i
    sum = sum + i
    #print(sum) 루프 안에서 반복해서 계산을 진행한다.
    
print(sum) #최종값 쓸때 쓰는 방법

55

In [159]:
while name != "break":
    name = input("What is your name?") #break를 답했을때 실행이 종료된다.
    print("Hello,"+name+ ".")

What is your name?gun hee
Hello,gun hee.
What is your name?blake
Hello,blake.
What is your name?break
Hello,break.

In [162]:
for i in range (1,100+1): # 숫자 (i)가 들어 올것이다. 1-100까지 
    if i % 15 == 0:        # 15와 나누었을떄 ==0 이 되었을때
        print("Fizzbuzz")
    elif i % 3 == 0:     #  3과 나누었을떄 == 0이 되었을때
        print("Fizz")
    elif i % 5 ==0:     # 5와 나누었을떄 == 0이 되었을떄 
        print("Buzz")
    else:
        print (i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizzbuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizzbuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizzbuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizzbuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
import random = (0,0,1)